## 식당명(MCT_NM)의 unique한 값만 가진 데이터 프레임 만들기

In [1]:
import pandas as pd

In [2]:
# 데이터 프레임 불러오기
df = pd.read_csv("../data/data_prep_with_avg_temp_final.csv", encoding='utf8')
df

,YM,MCT_NM,OP_YMD,TYPE,MCT_TYPE,temp_05_11,temp_12_13,temp_14_17,temp_18_22,temp_23_04,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,202301,희야네식당,20000916,T1,가정식,6.720276,9.508065,9.438710,7.305806,6.284865,...,0.000000,0.000000,0.381616,0.644,0.356,0.183,0.232,0.351,0.171,0.063
1,202301,희신이네,20060515,T1,가정식,6.720276,9.508065,9.438710,7.305806,6.284865,...,0.264706,0.000000,0.701183,0.686,0.314,0.118,0.261,0.342,0.190,0.089
2,202301,흥미,20030814,T1,가정식,6.233641,8.633871,8.461290,6.666452,5.849189,...,0.094340,0.000000,0.736842,0.562,0.438,0.107,0.299,0.336,0.226,0.032
3,202301,흑심가,20220401,T1,가정식,6.538710,7.964516,7.733871,6.761935,6.317838,...,0.733333,0.033333,0.123656,0.544,0.456,0.239,0.300,0.233,0.139,0.089
4,202301,흑섬,20160419,T1,가정식,6.233641,8.633871,8.461290,6.666452,5.849189,...,0.806452,0.000000,0.317136,0.585,0.415,0.175,0.278,0.283,0.206,0.059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67852,202312,한솥도시락 제주법원점,20190520,T8,도시락,9.019048,11.520000,10.990833,9.248000,8.204420,...,0.283237,0.000000,0.823671,0.510,0.490,0.192,0.213,0.338,0.223,0.033
67853,202312,한솥도시락 제주대정점,20160930,T8,도시락,9.367143,10.893333,10.532500,9.358000,8.856354,...,0.040000,0.000000,0.559322,0.659,0.341,0.167,0.227,0.273,0.197,0.136
67854,202312,포베이이도점,20130715,T9,동남아/인도음식,9.019048,11.520000,10.990833,9.248000,8.204420,...,0.245763,0.000000,0.872796,0.399,0.601,0.081,0.204,0.418,0.218,0.078
67855,202312,포베이서귀포신시가지점,20180821,T9,동남아/인도음식,9.402857,12.151667,11.806667,9.794667,8.750276,...,0.218045,0.000000,0.753606,0.479,0.521,0.089,0.258,0.398,0.175,0.080
67856,202312,제주포레스트주식회사 포메인제주노형점,20200420,T9,동남아/인도음식,9.019048,11.520000,10.990833,9.248000,8.204420,...,0.302521,0.000000,0.664452,0.391,0.609,0.131,0.251,0.366,0.182,0.070

In [3]:
df.columns

Index(['YM', 'MCT_NM', 'OP_YMD', 'TYPE', 'MCT_TYPE', 'temp_05_11',
       'temp_12_13', 'temp_14_17', 'temp_18_22', 'temp_23_04', 'TEMP_AVG',
       'latitude', 'longitude', 'Polygon', 'area', 'ADDR', 'UE_CNT_GRP',
       'RANK_CNT', 'UE_AMT_GRP', 'RANK_AMT', 'UE_AMT_PER_TRSN_GRP',
       'RANK_MEAN', 'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT',
       'THU_UE_CNT_RAT', 'FRI_UE_CNT_RAT', 'SAT_UE_CNT_RAT', 'SUN_UE_CNT_RAT',
       'HR_5_11_UE_CNT_RAT', 'HR_12_13_UE_CNT_RAT', 'HR_14_17_UE_CNT_RAT',
       'HR_18_22_UE_CNT_RAT', 'HR_23_4_UE_CNT_RAT', 'LOCAL_UE_CNT_RAT',
       'RC_M12_MAL_CUS_CNT_RAT', 'RC_M12_FME_CUS_CNT_RAT',
       'RC_M12_AGE_UND_20_CUS_CNT_RAT', 'RC_M12_AGE_30_CUS_CNT_RAT',
       'RC_M12_AGE_40_CUS_CNT_RAT', 'RC_M12_AGE_50_CUS_CNT_RAT',
       'RC_M12_AGE_OVR_60_CUS_CNT_RAT'],
      dtype='object')

In [4]:
df_unique_add = df.drop_duplicates(subset=['MCT_NM', 'ADDR'])
df_unique_add.shape

(9388, 42)

In [5]:
df_unique_loc = df.drop_duplicates(subset=['MCT_NM', 'latitude', 'longitude'])
df_unique_loc.shape

(9337, 42)

In [6]:
df_unique_rest = df_unique_loc[['MCT_NM', 'area', 'MCT_TYPE', 'ADDR', 'latitude', 'longitude']]
df_unique_rest

,MCT_NM,area,MCT_TYPE,ADDR,latitude,longitude
0,희야네식당,남부,가정식,제주 서귀포시 남원읍 남원리 100-3번지,33.279498,126.719772
1,희신이네,남부,가정식,제주 서귀포시 서홍동 1651-11번지,33.263389,126.550838
2,흥미,북부,가정식,제주 제주시 연동 291-40번지,33.490006,126.495004
3,흑심가,서부,가정식,제주 제주시 한림읍 대림리 1221-1번지 1층,33.427396,126.277767
4,흑섬,북부,가정식,제주 제주시 삼양일동 1940-3번지 1층,33.530351,126.589332
...,...,...,...,...,...,...
67556,다정하다,남부,단품요리 전문,제주 서귀포시 동홍동 1565번지 JI동 1층,33.262021,126.560759
67661,그집글라,북부,단품요리 전문,제주 제주시 오라일동 2443-1번지 1층,33.499301,126.514478
67730,고코요,북부,단품요리 전문,제주 제주시 일도이동 382-27번지 1층,33.504681,126.539983
67757,고가치,북부,단품요리 전문,제주 제주시 노형동 916-5번지 1층,33.487206,126.485445
67805,6월9일(June. 9th),북부,단품요리 전문,제주 제주시 연동 274-21번지 1층,33.485406,126.491776

In [7]:
# area, MCT_TYPE, MCT_NM 기준으로 정렬하고 인덱스 리셋
df_unique_rest_sorted = df_unique_rest.sort_values(by=['area', 'MCT_TYPE', 'MCT_NM']).reset_index(drop=True)

# 결과 출력
df_unique_rest_sorted

,MCT_NM,area,MCT_TYPE,ADDR,latitude,longitude
0,가파도바다별장,가파도,가정식,제주 서귀포시 대정읍 가파리 206번지 1층,33.174247,126.270882
1,가파도용궁정식,가파도,가정식,제주 서귀포시 대정읍 가파리 559-1번지 1층,33.166281,126.272834
2,꼬닥꼬닥걸으멍,가파도,가정식,제주 서귀포시 대정읍 가파리 355-1번지,33.172815,126.269652
3,전망대,가파도,가정식,제주 서귀포시 대정읍 가파리 268번지,33.170205,126.270614
4,가파도봄날에,가파도,단품요리 전문,제주 서귀포시 대정읍 가파리 463-1번지,33.169556,126.270485
...,...,...,...,...,...,...
9332,홍금성숯불갈비,추자도,가정식,제주 제주시 추자면 대서리 140-6번지,33.963006,126.295726
9333,바다감성찜닭이야기,추자도,단품요리 전문,제주 제주시 추자면 영흥리 364-18번지 1층,33.960776,126.295605
9334,숙이포차,추자도,단품요리 전문,제주 제주시 추자면 대서리 131-1번지 1층,33.962872,126.294552
9335,시골밥상,추자도,단품요리 전문,제주 제주시 추자면 대서리 149번지,33.962571,126.294123
9336,김밥옆구리,추자도,분식,제주 제주시 추자면 대서리 153번지 1층,33.962454,126.294115

In [8]:
# 데이터프레임 저장
df_unique_rest_sorted.to_csv("../data/unique_restaurant.csv", encoding='cp949')